@use '../../app/_scss/variables' as *;

.diving {
    position: fixed;
    bottom: 2vh;
    right: 12vw;
    width: 250px;
    height: 200px;
	filter: drop-shadow(5px 5px 3px #00000022);
	animation-name: dive;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	z-index: 9999;

	img {
		width: 250px;
		height: 200px;
	}
}

@keyframes dive {
	0% {
		transform: rotate(5deg);
	}
	50% {
		transform: rotate(-5deg);
	}
	100% {
		transform: rotate(5deg);
	}
}


@media(max-width: $mobile-breakpoint) {
    .me,
	.diving {
		display: none;
	}
}
