@use '../../app/_scss/variables' as *;

.rsm-svg {
    background-color: light-dark($white, $black);
    width: 100vw;
    height: 100vh;
}


@media(max-width: $mobile-breakpoint) {
    .rsm-svg {
        display: none;
    }
}