@use '../../app/_scss/variables' as *;

nav:not(.toc) {
    position: fixed;
    top: 20vh;
    right: 2vw;
    z-index: 100;
    background-color: light-dark($lighter, $darker);
    border: 1px solid light-dark($light, $dark);
    padding: 0.5rem;
    border-radius: 50px;
    margin-top: -50px;
    box-shadow:
        0 0 10px light-dark(hsl(from #{$light} h s l / 50%), hsl(from #{$black} h s l / 50%)),
        -2px -2px 10px light-dark(hsl(from #{$light} h s l / 50%), hsl(from #{$black} h s l / 10%)),
        2px 2px 10px light-dark(hsl(from #{$light} h s l / 50%), hsl(from #{$black} h s l / 10%)),
        inset 0 0 10px light-dark(hsl(from #{$light} h s l / 50%), hsl(from #{$black} h s l / 90%)),
         -2px -2px 10px light-dark(hsl(from #{$light} h s l / 50%), hsl(from #{$black} h s l / 10%)),
         2px 2px 10px light-dark(hsl(from #{$light} h s l / 50%), hsl(from #{$black} h s l / 10%)
    );

    * {
        outline: none;
    }
    ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        li:first-of-type {
            display: none;
        }
        a {
            $border: 4px;
            position: relative;
            width: 64px;
            aspect-ratio: 1/cos(30deg);
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.5rem;
            align-items: center;
            text-decoration: none;
            isolation: isolate;

            &:hover {
                scale: 2;
            }

            svg,
            .menu-image {
                width: 24px;
                height: 24px;
                z-index: 1;

                path {
                    fill: $purple;
                }
            }

            &#travels-item-mobile {
                display: none;
            }

            &.is-active {
                &::before {
                    content: '';
                    position: absolute;
                    inset: 0;
                    background: $yellow;
                    clip-path:
                            polygon(0 50%,50% -50%,100% 50%,50% 150%,0 50%,
                                    $border 50%,
                                    calc(25% + $border*cos(60deg)) calc(100% - $border*sin(60deg)),
                                    calc(75% - $border*cos(60deg)) calc(100% - $border*sin(60deg)),
                                    calc(100% - $border) 50%,
                                    calc(75% - $border*cos(60deg)) calc($border*sin(60deg)),
                                    calc(25% + $border*cos(60deg)) calc($border*sin(60deg)),
                                    $border 50%);
                }
                transition: all 0.2s ease-in-out;

                span {
                    transition: all 0.6s ease-in-out;
                    transform: scale(1.2);
                }
            }
        }
    }
}


@media(max-width: $mobile-breakpoint) {
    nav:not(.toc) {
        display: none;
    }
}