@use '../../app/_scss/variables' as *;

.stars {
	position: relative;
	display: inline-block;
	height: 18px;
	line-height: 0;

	.stars-row {
		display: flex;
		align-items: center;
		gap: 2px;
	}
	.star {
		width: 18px;
		height: 18px;
		flex: 0 0 18px;
	}
	.stars-base {
		.star {
			color: $dark;
			fill: $dark;
		}
	}
	.stars-fill {
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		white-space: nowrap;
		transition: width 0.3s ease;

		.star {
			color: $yellow;
			fill: $yellow;
		}
	}
}


@media(max-width: $mobile-breakpoint) {

}