@use '../../app/_scss/variables' as *;

.theme-toggle {
    position: fixed;
    top: 8vh;
    right: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 88px;
    height: 40px;
    gap: 4px;
    border: 1px solid light-dark($light, $dark);
    border-radius: 50px;
    background: light-dark($lighter, $darker);
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    z-index: 100;
    padding: 0.5rem;
    box-shadow:
        0 0 10px light-dark(hsl(from #{$light} h s l / 50%), hsl(from #{$black} h s l / 50%)),
        -2px -2px 10px light-dark(hsl(from #{$light} h s l / 10%), hsl(from #{$black} h s l / 10%)),
        2px 2px 10px light-dark(hsl(from #{$light} h s l / 20%), hsl(from #{$black} h s l / 10%)),
        inset 0 0 10px light-dark(hsl(from #{$light} h s l / 90%), hsl(from #{$black} h s l / 90%)),
        -2px -2px 10px light-dark(hsl(from #{$light} h s l / 10%), hsl(from #{$black} h s l / 10%)),
        2px 2px 10px light-dark(hsl(from #{$light} h s l / 10%), hsl(from #{$black} h s l / 10%)
    );

    svg {
        position: relative;
        z-index: 2;
        width: 24px;
        height: 24px;
        margin: 0 4px;
        transition: color 0.3s ease;

        &:hover {
            scale: 2;
            opacity: 1;
        }
        path,
        circle{
            fill: $yellow;
            stroke: $yellow;
        }
    }
    &::before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 4px;
        left: 8px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: $purple;
        transition: transform 0.3s ease;
    }
    &.dark::before {
        transform: translateX(36px);
    }
    &:focus-visible {
        outline: none;
    }
    &:hover {
        box-shadow:
            0 0 10px light-dark(hsl(from #{$light} h s l / 50%), hsl(from #{$black} h s l / 100%)),
            -2px -2px 10px light-dark(hsl(from #{$light} h s l / 10%), hsl(from #{$black} h s l / 20%)),
            2px 2px 10px light-dark(hsl(from #{$light} h s l / 20%), hsl(from #{$black} h s l / 20%)),
            inset 0 0 10px light-dark(hsl(from #{$light} h s l / 90%), hsl(from #{$black} h s l / 100%)),
            -2px -2px 10px light-dark(hsl(from #{$light} h s l / 10%), hsl(from #{$black} h s l / 20%)),
            2px 2px 10px light-dark(hsl(from #{$light} h s l / 10%), hsl(from #{$black} h s l / 20%)
        );
    }
}


@media(max-width: $mobile-breakpoint) {
    .theme-toggle {
        position: fixed;
        top: .5rem;
        right: 2rem;
    }
}