@use '../app/_scss/variables' as *;

.social {
	position: fixed;
	bottom: 1vh;
	left: calc(1vw + 120px);
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	z-index: 99999;
	width: 320px;

	a {
		position: relative;
		width: 48px;
		height: 48px;
		border-bottom: 0;
		background: none;

		.svg {
			width: 16px;
			height: auto;
			padding: 4px 4px 0 0;
			margin: 12px 4px;
			fill: $purple;
		}
		&::after,
		&::before {
			content: "";
			position: absolute;
			border: 3px solid $purple;
			z-index: 1020;
			top: 50%;
			left: 50%;
			margin: -20px 0 0 -36px;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			opacity: 0;
			pointer-events: none;
		}
		&:hover::after {
			animation-name: anim-3, anim-1;
			animation-duration: 5s, 2s;
			animation-iteration-count: 1, infinite;
			animation-timing-function: ease, linear;
			animation-fill-mode: forwards;
		}
		&:hover::before {
			animation-name: anim-3, anim-2;
			animation-duration: 5s, 2s;
			animation-iteration-count: 1, infinite;
			animation-timing-function: ease, linear;
			animation-fill-mode: forwards;
		}
	}
}
@keyframes anim-1 {
	0% {
		transform: perspective(60px) rotate3d(1, 1, 1, 0deg);
	}
	100% {
		transform: perspective(60px) rotate3d(1, 1, 1, 360deg);
	}
}

@keyframes anim-2 {
	0% {
		transform: perspective(60px) rotate3d(1, -1, 1, 0deg);
	}
	100% {
		transform: perspective(60px) rotate3d(1, -1, 1, 360deg);
	}
}

@keyframes anim-3 {
	0%, 100% {
		opacity: 0;
	}
	25%, 75% {
		opacity: 0.3;
	}
}

@media(max-width: $mobile-breakpoint) {
	.social {
		left: unset;
	}
}