@use '_variables' as *;

header,
section:is(#music, #travels, #whisky, #diy, #resume),
footer {
    position: unset;
    background: none;
    height: fit-content !important;
    min-height: unset;
    scroll-snap-align: unset;

    * {
        position: unset !important;
    }
    article {
        width: 90%;
        margin-inline: auto;
        z-index: unset;

        h2 {
            margin-block: 1rem;
        }
        p {
            width: 100%;
        }
    }
}