@font-face {
    font-family: 'Afacad';
    src: url('/fonts/afacad.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Afacad';
    src: url('/fonts/afacad-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

$black:       hsl(  0,   0%,   0%); // #000000
$darkest:     hsl(  0,   0%,   7%); // #111111
$darker:      hsl(  0,   0%,  13%); // #222222
$dark:        hsl(  0,   0%,  25%); // #444444
$code:        hsl(  0,   0%,  67%); // #aaaaaa
$light:       hsl(  0,   0%,  75%); // #bbbbbb
$lighter:     hsl(  0,   0%,  87%); // #dddddd
$lightest:    hsl(  0,   0%,  93%); // #eeeeee
$white:       hsl(  0,   0%, 100%); // #ffffff

$purple:      hsl(239,  77%,  67%); // #6c6eec

$yellow:      hsl( 46, 100%,  55%); // #ffc917

$success:     hsl(140,  50%,  35%); // #2d864a
$error:       hsl(  0,  60%,  45%); // #b82e2e

$mobile-breakpoint: 800px;