@use '_variables' as *;

.landing-page {
    flex-direction: column;
    width: 100vw;
    height: calc((7 * 100vh) + 250vh);
}


@media(max-width: $mobile-breakpoint) {
    .landing-page {
        width: unset;
        height: unset;
    }
}