@use '_variables' as *;

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc((7 * 100vh) + 250vh);
}