@use 'variables' as *;

.music-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        120deg,
        light-dark($lighter, $darker) 0%,
        light-dark($lightest, $darkest) 40%,
        light-dark($white, $black) 50%,
        light-dark($lightest, $darkest) 60%,
        light-dark($lighter, $darker) 100%
    ) fixed;
    background-size: cover;
    width: 100vw;
}