@use 'variables' as *;

.music-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg, $darker 0%, $darkest 40%, $black 50%, $darkest 60%, $darker 100%) fixed;
    background-size: cover;
    width: 100vw;

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        gap: 2rem;
        width: 50vw;
        border: none;

        &.album {
            background-color: $darker;
            border-radius: 1rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
        &:has(.playing) {
            border: 1px solid $purple;
        }
        h3 {
            margin-bottom: 0;
        }
        li {
            display: grid;
            grid-template-columns: 100px auto 80px;
            width: 50vw;
            text-indent: 10px;
            font-size: 1.2rem;
            line-height: 2rem;
            color: $purple;
            list-style: none;
            margin-left: -80px;
            counter-increment: track;

            button {
                display: inline-block;
                font-size: 1.2rem;
                border: 0;
                outline: 0;
                cursor: pointer;
                text-align: left;
                background: none;
                pointer-events: all;
                text-decoration: underline;
                text-decoration-color: #ffc917aa;
                text-underline-offset: 4px;
                text-decoration-style: dotted;

                small {
                    opacity: 0.8;
                    font-size: 0.7em;
                    font-style: italic;
                    display: inline-block;
                    margin-left: 12px;
                }
            }
            .duration {
                font-size: 1.2rem;
                padding-right: 16px;
                color: $purple;
                justify-self: end;
            }
            &:before {
                display: inline-block;
                text-align: right;
                margin-right: 20px;
                content: "♬";
            }
        }
    }
}


@media(max-width: $mobile-breakpoint) {
    .music-page {
        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin: auto auto 1rem auto;
            padding-bottom: 2rem;
            width: 90%;

            &.album {
                background-color: $darker;
                border-radius: 1rem;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            }
            &:has(.playing) {
                border: 1px solid $purple;
            }
            h3 {
                margin-bottom: 0;
            }
            li {
                display: grid;
                grid-template-columns: 100px auto 80px;
                width: 50vw;
                text-indent: 10px;
                font-size: 1.2rem;
                line-height: 2rem;
                color: $purple;
                list-style: none;
                margin-left: -80px;
                counter-increment: track;

                button {
                    display: inline-block;
                    font-size: 1.2rem;
                    border: 0;
                    outline: 0;
                    cursor: pointer;
                    text-align: left;
                    background: none;
                    pointer-events: all;
                    text-decoration: underline;
                    text-decoration-color: #ffc917aa;
                    text-underline-offset: 4px;
                    text-decoration-style: dotted;

                    small {
                        opacity: 0.8;
                        font-size: 0.7em;
                        font-style: italic;
                        display: inline-block;
                        margin-left: 12px;
                    }
                }
                .duration {
                    font-size: 1.2rem;
                    padding-right: 16px;
                    color: $purple;
                    justify-self: end;
                }
                &:before {
                    display: inline-block;
                    text-align: right;
                    margin-right: 20px;
                    content: "♬";
                }
            }
        }
    }
}