@use 'variables' as *;

body {
    margin: 0;
    background-color: light-dark($lightest, $darkest);
    font-family: 'Afacad', sans-serif;
    overflow: hidden;

    .error {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 70vh;

        img {
            max-width: 80vw;
        }
        h1 {
            font-size: 8rem;
            color: light-dark($black, $white);
            text-shadow: 2px 2px 2px hsl(from #{$purple} h s l / 25%);
            padding: 0;
            margin: 2rem 0 0 0;
            line-height: 3rem;
            display: flex;
        }
    }
}