@use '../../app/_scss/variables' as *;

section#diy {
    background: linear-gradient(120deg, $darker 0%, $darkest 40%, $black 50%, $darkest 60%, $darker 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    article {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        width: 80vw;
        overflow-y: scroll;
        height: 310vh;
        position: absolute;
        top: 20vh;
    }
}