@use '../../app/_scss/variables' as *;

section#diy {
    background: linear-gradient(120deg, $darker 0%, $darkest 40%, $black 50%, $darkest 60%, $darker 100%);
    position: relative;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    gap: 2rem;
    overflow: hidden;

    .diy-image {
        position: absolute;
        top: -200px;
        left: -200px;
        width: 864px;
        height: 952px;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        z-index: 1;
    }
    article {
        z-index: 2;
        width: 40vw;
        position: absolute;
        left: 700px;
    }
}