@use '../../app/_scss/variables' as *;

body {
    height: calc((7 * 100vh) + 250vh);
}
header {
    $s: 60px;
    position: relative;
    background: none !important;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to right, transparent 0%, #111111 100%);
        pointer-events: none;
    }
    .logo {
        width: 1400px;
        height: 500px;
        z-index: 1;
    }
    .chevron {
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -64px;
    }
    p {
        position: absolute;
        left: calc(50vw - 170px);
        top: 580px;
        width: 880px;
        z-index: 1;
        font-size: 1.8rem;
        a {
            font-size: 1.8rem;
        }
    }
}