@use '../../app/_scss/variables' as *;

header {
    position: relative;
    background: none !important;
    display: flex;
    flex-direction: column;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to right, transparent 0%, light-dark($lightest, $darkest) 100%);
        pointer-events: none;
    }
    .logo {
        width: 1400px;
        height: 500px;
        z-index: 1;
        max-width: 80vw;
    }
    .chevron {
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -64px;
    }
    p {
        left: calc(50vw - 170px);
        top: 580px;
        width: 880px;
        max-width: 90%;
        z-index: 1;
        font-size: 1.8rem;

        @media(min-width: 1700px) {
            position: absolute;
        }

        a {
            font-size: 1.8rem;
        }
    }
}


@media(max-width: $mobile-breakpoint) {
    @import '../../app/_scss/mobile';

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &::after {
            display: none;
        }
        .logo {
            width: 90%;
            height: auto;
            z-index: unset;
            margin-block: 2rem;
        }
        .chevron {
            display: none;
        }
        p {
            width: 90%;
            z-index: unset;
            font-size: 1.2rem;
            padding-bottom: 2rem;
            border-bottom: 1px solid light-dark($darker, $lighter);

            a {
                font-size: 1.2rem;
            }
        }
    }
}