@use '../../app/_scss/variables' as *;

section#music {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    article {
        margin-bottom: 1rem;
    }
    p,
    p > a {
        font-size: 1.5rem;
        width: 50vw;
    }
    li {
        counter-increment: track;

        &:before {
            content: "#" counter(track);
        }
        &:nth-of-type(11):before {
            content: "Set";
        }
        &:nth-of-type(11) {
            margin-top: 2rem;
        }
    }
    ul {
        counter-reset: track;
    }
}


@media(max-width: $mobile-breakpoint) {
    @import '../../app/_scss/mobile';

    section#music {
        display: block;
        margin-inline: 1rem;

        h2 {
            visibility: hidden;
            position: relative !important;
            margin-block: 1rem;

            &:after {
                visibility: visible;
                position: absolute !important;
                top: 0;
                left: 0;
                content: "Music";
            }
        }
        p,
        p > a {
            font-size: 1.2rem;
            width: 90%;
        }
    }
}