@use '../../app/_scss/variables' as *;

section#resume {
    background: linear-gradient(
        120deg,
        light-dark($white, $black) 0%,
        light-dark($lightest, $darkest) 40%,
        light-dark($lighter, $darker) 50%,
        light-dark($lightest, $darkest) 60%,
        light-dark($white, $black) 100%
    );
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 350vh;
    scroll-snap-align: none;

    article {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        width: 80vw;
        height: 310vh;
        position: absolute;
        top: 20vh;

        & > * {
            align-self: flex-start;
        }
        & > div {
            width: 50vw;
            max-width: 1000px;
        }
    }

    .techniques {
        position: sticky;
        top: 50vh;
        height: 50vh;
        background: linear-gradient(
            to bottom,
            light-dark(
                hsl(from #{$white} h s l / 0%),
                hsl(from #{$black} h s l / 0%)
            ) 0%,
            light-dark($white, $black) 100%,
        );
        pointer-events: none;

        ul {
            pointer-events: all;
            display: flex;
            gap: 2vw;
            list-style: none;
            padding: 0;
            margin-top: 40vh;
        }
    }
}


@media(max-width: $mobile-breakpoint) {
    @import '../../app/_scss/mobile';

    section#resume {
        display: block;

        h2 {
            width: 90%;
            margin: 1rem auto;
        }
        article {
            padding-bottom: 2rem;
            border-bottom: 1px solid light-dark($darker, $lighter);
            height: unset;
            flex-direction: column;

            & > * {
                align-self: flex-start;
            }
            & > div {
                width: 100%;
                max-width: 1000px;
            }
        }
        .techniques {
            display: none;
        }
    }
}