@use '../../app/_scss/variables' as *;

section#travels {
    background: none !important;
    height: 100vh;
    position: relative;

    .banner-grid {
        position: absolute;
        left: 2vw;
        bottom: 2vh;
        display: flex;
        justify-content: left;
        gap: 1rem;
        width: 45vw;
        flex-flow: wrap;
        pointer-events: none;

        p {
            width: 50vw;
            margin-top: 0.2rem;
            margin-bottom: 2rem;
        }
        .banner {
            display: flex;
            justify-content: space-around;
            text-decoration: none;
            text-align: center;
            flex-direction: column;
            box-shadow: 0 0 16px 4px light-dark(hsl(from #{$white} h s l / 10%), hsl(from #{$black} h s l / 10%));
            transition: all 1s;
            width: 400px;
            height: 50px;
            background-color: light-dark(hsl(from #{$lighter} h s l / 75%), hsl(from #{$darker} h s l / 75%));
            opacity: 0.8;
            pointer-events: all;

            h2 {
                font-size: 1.5rem;
                margin-block: 0;
                transition: all 0.5s;
                color: light-dark($black, $white);
                text-shadow: 0 0 10px light-dark(hsl(from #{$white} h s l / 80%), hsl(from #{$black} h s l / 80%));
            }
            &:hover {
                background-color: light-dark(hsl(from #{$light} h s l / 92%), hsl(from #{$dark} h s l / 92%));
            }
        }
        h2.travels {
            background: none;
            margin: 0;
        }
    }
}


@media(max-width: $mobile-breakpoint) {
    @import '../../app/_scss/mobile';

    section#travels {
        .banner-grid {
            gap: 1rem;
            width: 90%;
            padding-bottom: 2rem;
            border-bottom: 1px solid light-dark($darker, $lighter);

            .banner {
                border: 1px solid $purple;
            }
            p {
                width: 100%;
            }
        }
    }
}